{% extends 'base.html' %}
{% block body %}
<div class="w3-right">
    <img class="w3-right w3-image" src="{{ url_for('static', filename='fan.jpg') }}">
</div>
<p class="w3-xxlarge">Fan area</p>
<form action="{{ url_for('fanPlayerQuestions') }}" method="POST">
    <table class="w3-table w3-bordered">
        <tr>
            <th> Question </th>
            <th> Input </th>
        </tr>
        <tr id="fanPlayerQuestions">
            <td> Favorite player: </td>
            <td>
                <input class="w3-text" type="text" name="favPlayer">
            </td>
        </tr>
        <tr>
            <td> Whatta ya wanna know about them? </td>
            <td>
                <input class="w3-checkbox" type="checkbox" name="teamsPlayedOn" value="true">What teams (and when) They've played on<br>
                <input class="w3-checkbox" type="checkbox" name="bestTeamRecord" value="true">Their best team (by record)<br>
                <input class="w3-checkbox" type="checkbox" name="careerStats" value="true">Their career stats<br>
                <input class="w3-checkbox" type="checkbox" name="seasonStats" value="true">Their stats for last year<br>
            </td>
        </tr>
        <tr>
            <td class="w3-bold"> Create Custom Team? </td>
            <td>
                <table>
                    <tr>
                        <td>
                            Team Name: 
                        </td>
                        <td>
                            <input class="w3-text" type="text" name="custTeam">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Team Abbreviation: 
                        </td>
                        <td>
                            <input class="w3-text" type="text" name="custTeamAbbr">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Team Division: 
                        </td>
                        <td>
                            <select name='custTeamDivs'>
                                {% for d in divs %}
                                <option value="{{d[0]}}">{{ d[0] }}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Team Conference: 
                        </td>
                        <td>
                            <select name='custTeamConfs'>
                                {% for c in confs %}
                                <option value="{{c[0]}}">{{ c[0] }}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td class="w3-bold"> Create Custom Player? </td>
            <td>
                <table>
                    <tr>
                        <td>
                            Player Id: 
                        </td>
                        <td>
                            <input class="w3-text" type="text" name="custPlayer">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Player Name: 
                        </td>
                        <td>
                            <input class="w3-text" type="text" name="custPlayerName">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Player Position: 
                        </td>
                        <td>
                            <input class="w3-text" type="text" name="custPlayerPos">
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <button class="w3-button w3-black w3-round-xlarge w3-hover-red" type="submit">Answer Player Questions</button>
</form>
<form action="{{ url_for('fanTeamQuestions') }}" method="POST">
        <table class="w3-table w3-bordered">
            <tr>
                <th> Question </th>
                <th> Input </th>
            </tr>
            <tr>
                <td> Which team are you a fan of? </td>
                <td> 
                    <select name='selectTeam'>
                        <option value="None,None">I Don't Have a Team</option>
                        {% for t in teams %}
                        <option value="{{t[1]}},{{t[0]}}">{{ t[0] }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr id="fanTeamQuestions">
                <td> Which questions do you want answered? </td>
                <td>
                    <input class="w3-checkbox" type="checkbox" name="beatUs" value="true">Who beat us last year?<br>
                    <input class="w3-checkbox" type="checkbox" name="bestRecInConf" value="true">Which team in our conference had the best record last year?<br>
                    <input class="w3-checkbox" type="checkbox" name="bestRecInDiv" value="true">Which team in our division had the best record last year?<br>
                    <input class="w3-checkbox" type="checkbox" name="5YearBeatUs" value="true">Which team has beaten us the most in the last 5 years?<br>
                    <input class="w3-checkbox" type="checkbox" name="5YearWeBeat" value="true">Which team have we beaten the most in the last 5 years?<br>
                </td>
            </tr>
        </table>
        <button class="w3-button w3-black w3-round-xlarge w3-hover-red" type="submit">Answer Team Questions</button>
    </form>
{% endblock %}